img{
    height: 70vh;
   
}
p
{
    color: rgb(229, 224, 224);
    background-color: rgb(145, 32, 87);
    border: solid 3px rgb(35, 35, 39);
    border-radius: 5px;
}
h5
{
    color: rgb(0, 255, 123);
}